html,
body {
  height: 100%;
  overflow: hidden;
}

h1 {
  color: white;
}

h4 {
  color: white;
  display: inline-block;
}

body {
  background: url("../assets/cards_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.topspace {
  margin-top: 15px;
}

.playerscore {
  font-size: 25px;
  line-height: 1;
}

.btn {
  height: 45px;
  margin-top: 8px;
}

#edit-icon {
  background: url("../assets/edit.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 25px;
  top: 5px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

.leader {
  color: #d0b200;
  font-weight: bold;
  font-size: 20px;
}

#btn-end-game-confetti {
  display: none;
}